body {
    background: #c8dfe0;
}

h2{
    font-size: xx-large;
    font-family: Georgia;
    color: #051751;
    text-align: center;
  }

#list-container{
    width:75%;
    height: auto;
    background-color: rgb(255, 196, 108);
    padding: 10px; 
}

#list-container .del{
    background-color: #db0000;
    height: 50px;
    color: azure;
    padding: 10px;
    border: none;
    font-size: large;
    cursor: pointer;
}


#list-container li{
    list-style: none;
    font-size: x-large;
    padding-top: 10px;
    text-align: left;
}

#add{
    background-color: #00a424;
    color: azure;
    border: none;
    font-size: x-large;
    height: 50px;
    width: 25%;
    cursor: pointer;
}
#input{
    border: none;
    width: 50%;
    height: 50px;
    font-size: x-large;
    background-color: azure;
}